/* whole page */
* {
    box-sizing: border-box;
    background-color: grey;
}


h1 {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    background: white;
    justify-content: center;

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: wavy;
    font-size: 150px;
}
.renders {
    display: flex;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    background-color: grey;
    padding: 20px;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

@media screen and (max-width: 768px) {
    .header,.renders {
        background-color: aqua;
    }

}