/* whole page */
* {
    box-sizing: border-box;
    background-color: grey;
}


h1 {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    background-color: white;
    justify-content: left;

}

h2 {
    margin: 0;

}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: wavy;
    font-size: 50px;
    flex-direction: right;
}
.renders {
    display: flex;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    background-color: grey;
    padding: 20px;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

.wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section p {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .header,.renders {
        background-color: aqua;
    }

}


.hero-banner {
    background: pink;
    background-image: url("#"), linear-gradient(180deg, red 15%, blue 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
.hero-banner div {
    flex: 0 0 90%;
  }
  
  .hero-banner h2 {
    background-color: blue;
    color: red;
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
  }